
body {
    font-size:x-large;
}

.menubarClass {
    float : left;
    padding-left : 10px;
    padding-right : 10px;
}

.selectionClass {
    position: fixed;
    top: 0;
    left: 0;
}

.paragraphMapClass {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    height: 95%;
    overflow: auto;

}
.large {
    font-size: medium;
}

.verylarge {
    font-size: large;
}


.leftmargin {
    font-size:medium;
}


.bigleftmargin {
    font-size:medium;

}

.marker {
    z-index:2;
    position:absolute;
    top: 50px;
    left: 0px;
    visibility: hidden;
}